[data-aos][data-aos][data-aos-duration="50"],
body[data-aos-duration="50"] [data-aos] {
    transition-duration: 50ms
}

[data-aos][data-aos][data-aos-delay="50"],
body[data-aos-delay="50"] [data-aos] {
    transition-delay: 0
}

[data-aos][data-aos][data-aos-delay="50"].aos-animate,
body[data-aos-delay="50"] [data-aos].aos-animate {
    transition-delay: 50ms
}

[data-aos][data-aos][data-aos-duration="100"],
body[data-aos-duration="100"] [data-aos] {
    transition-duration: .1s
}

[data-aos][data-aos][data-aos-delay="100"],
body[data-aos-delay="100"] [data-aos] {
    transition-delay: 0
}

[data-aos][data-aos][data-aos-delay="100"].aos-animate,
body[data-aos-delay="100"] [data-aos].aos-animate {
    transition-delay: .1s
}

[data-aos][data-aos][data-aos-duration="150"],
body[data-aos-duration="150"] [data-aos] {
    transition-duration: .15s
}

[data-aos][data-aos][data-aos-delay="150"],
body[data-aos-delay="150"] [data-aos] {
    transition-delay: 0
}

[data-aos][data-aos][data-aos-delay="150"].aos-animate,
body[data-aos-delay="150"] [data-aos].aos-animate {
    transition-delay: .15s
}

[data-aos][data-aos][data-aos-duration="200"],
body[data-aos-duration="200"] [data-aos] {
    transition-duration: .2s
}

[data-aos][data-aos][data-aos-delay="200"],
body[data-aos-delay="200"] [data-aos] {
    transition-delay: 0
}

[data-aos][data-aos][data-aos-delay="200"].aos-animate,
body[data-aos-delay="200"] [data-aos].aos-animate {
    transition-delay: .2s
}

[data-aos][data-aos][data-aos-duration="250"],
body[data-aos-duration="250"] [data-aos] {
    transition-duration: .25s
}

[data-aos][data-aos][data-aos-delay="250"],
body[data-aos-delay="250"] [data-aos] {
    transition-delay: 0
}

[data-aos][data-aos][data-aos-delay="250"].aos-animate,
body[data-aos-delay="250"] [data-aos].aos-animate {
    transition-delay: .25s
}

[data-aos][data-aos][data-aos-duration="300"],
body[data-aos-duration="300"] [data-aos] {
    transition-duration: .3s
}

[data-aos][data-aos][data-aos-delay="300"],
body[data-aos-delay="300"] [data-aos] {
    transition-delay: 0
}

[data-aos][data-aos][data-aos-delay="300"].aos-animate,
body[data-aos-delay="300"] [data-aos].aos-animate {
    transition-delay: .3s
}

[data-aos][data-aos][data-aos-duration="400"],
body[data-aos-duration="400"] [data-aos] {
    transition-duration: .4s
}

[data-aos][data-aos][data-aos-delay="400"],
body[data-aos-delay="400"] [data-aos] {
    transition-delay: 0
}

[data-aos][data-aos][data-aos-delay="400"].aos-animate,
body[data-aos-delay="400"] [data-aos].aos-animate {
    transition-delay: .4s
}

[data-aos][data-aos][data-aos-duration="500"],
body[data-aos-duration="500"] [data-aos] {
    transition-duration: .5s
}

[data-aos][data-aos][data-aos-delay="500"],
body[data-aos-delay="500"] [data-aos] {
    transition-delay: 0
}

[data-aos][data-aos][data-aos-delay="500"].aos-animate,
body[data-aos-delay="500"] [data-aos].aos-animate {
    transition-delay: .5s
}

[data-aos][data-aos][data-aos-duration="600"],
body[data-aos-duration="600"] [data-aos] {
    transition-duration: .6s
}

[data-aos][data-aos][data-aos-delay="600"],
body[data-aos-delay="600"] [data-aos] {
    transition-delay: 0
}

[data-aos][data-aos][data-aos-delay="600"].aos-animate,
body[data-aos-delay="600"] [data-aos].aos-animate {
    transition-delay: .6s
}

[data-aos][data-aos][data-aos-duration="700"],
body[data-aos-duration="700"] [data-aos] {
    transition-duration: .7s
}

[data-aos][data-aos][data-aos-delay="700"],
body[data-aos-delay="700"] [data-aos] {
    transition-delay: 0
}

[data-aos][data-aos][data-aos-delay="700"].aos-animate,
body[data-aos-delay="700"] [data-aos].aos-animate {
    transition-delay: .7s
}

[data-aos][data-aos][data-aos-duration="800"],
body[data-aos-duration="800"] [data-aos] {
    transition-duration: .8s
}

[data-aos][data-aos][data-aos-delay="800"],
body[data-aos-delay="800"] [data-aos] {
    transition-delay: 0
}

[data-aos][data-aos][data-aos-delay="800"].aos-animate,
body[data-aos-delay="800"] [data-aos].aos-animate {
    transition-delay: .8s
}

[data-aos][data-aos][data-aos-duration="850"],
body[data-aos-duration="850"] [data-aos] {
    transition-duration: .85s
}

[data-aos][data-aos][data-aos-delay="850"],
body[data-aos-delay="850"] [data-aos] {
    transition-delay: 0
}

[data-aos][data-aos][data-aos-delay="850"].aos-animate,
body[data-aos-delay="850"] [data-aos].aos-animate {
    transition-delay: .85s
}

[data-aos][data-aos][data-aos-duration="900"],
body[data-aos-duration="900"] [data-aos] {
    transition-duration: .9s
}

[data-aos][data-aos][data-aos-delay="900"],
body[data-aos-delay="900"] [data-aos] {
    transition-delay: 0
}

[data-aos][data-aos][data-aos-delay="900"].aos-animate,
body[data-aos-delay="900"] [data-aos].aos-animate {
    transition-delay: .9s
}

[data-aos][data-aos][data-aos-duration="1000"],
body[data-aos-duration="1000"] [data-aos] {
    transition-duration: 1s
}

[data-aos][data-aos][data-aos-delay="1000"],
body[data-aos-delay="1000"] [data-aos] {
    transition-delay: 0
}

[data-aos][data-aos][data-aos-delay="1000"].aos-animate,
body[data-aos-delay="1000"] [data-aos].aos-animate {
    transition-delay: 1s
}

[data-aos][data-aos][data-aos-duration="1100"],
body[data-aos-duration="1100"] [data-aos] {
    transition-duration: 1.1s
}

[data-aos][data-aos][data-aos-delay="1100"],
body[data-aos-delay="1100"] [data-aos] {
    transition-delay: 0
}

[data-aos][data-aos][data-aos-delay="1100"].aos-animate,
body[data-aos-delay="1100"] [data-aos].aos-animate {
    transition-delay: 1.1s
}

[data-aos][data-aos][data-aos-duration="1200"],
body[data-aos-duration="1200"] [data-aos] {
    transition-duration: 1.2s
}

[data-aos][data-aos][data-aos-delay="1200"],
body[data-aos-delay="1200"] [data-aos] {
    transition-delay: 0
}

[data-aos][data-aos][data-aos-delay="1200"].aos-animate,
body[data-aos-delay="1200"] [data-aos].aos-animate {
    transition-delay: 1.2s
}

[data-aos][data-aos][data-aos-duration="1500"],
body[data-aos-duration="1500"] [data-aos] {
    transition-duration: 1.5s
}

[data-aos][data-aos][data-aos-delay="1500"],
body[data-aos-delay="1500"] [data-aos] {
    transition-delay: 0
}

[data-aos][data-aos][data-aos-delay="1500"].aos-animate,
body[data-aos-delay="1500"] [data-aos].aos-animate {
    transition-delay: 1.5s
}

[data-aos][data-aos][data-aos-duration="2500"],
body[data-aos-duration="2500"] [data-aos] {
    transition-duration: 2.5s
}

[data-aos][data-aos][data-aos-delay="2500"],
body[data-aos-delay="2500"] [data-aos] {
    transition-delay: 0
}

[data-aos][data-aos][data-aos-delay="2500"].aos-animate,
body[data-aos-delay="2500"] [data-aos].aos-animate {
    transition-delay: 2.5s
}

[data-aos][data-aos][data-aos-easing="linear"],
body[data-aos-easing="linear"] [data-aos] {
    transition-timing-function: cubic-bezier(.25, .25, .75, .75)
}

[data-aos][data-aos][data-aos-easing="ease"],
body[data-aos-easing="ease"] [data-aos] {
    transition-timing-function: ease
}

[data-aos][data-aos][data-aos-easing="ease-in-out"],
body[data-aos-easing="ease-in-out"] [data-aos] {
    transition-timing-function: ease-in-out
}

[data-aos^="fade"][data-aos^="fade"] {
    opacity: 0;
    transition-property: opacity, transform
}

[data-aos^="fade"][data-aos^="fade"].aos-animate {
    opacity: 1;
    transform: translate(0)
}

[data-aos="fade-up"] {
    transform: translateY(100px)
}

[data-aos^="zoom"][data-aos^="zoom"] {
    opacity: 0;
    transition-property: opacity, transform
}

[data-aos^="zoom"][data-aos^="zoom"].aos-animate {
    opacity: 1;
    transform: translate(0) scale(1)
}

[data-aos^="slide"][data-aos^="slide"] {
    transition-property: transform
}

[data-aos^="slide"][data-aos^="slide"].aos-animate {
    transform: translate(0)
}

[data-aos^="flip"][data-aos^="flip"] {
    backface-visibility: hidden;
    transition-property: transform
}

body {
    line-height: 1.7;
    color: #4d4d4d;
    font-weight: 200;
    font-size: 1.1rem
}

::selection {
    background: #000;
    color: #fff
}

a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease
}

a:hover {
    text-decoration: none
}

.text-black {
    color: #000!important
}

.site-wrap:before {
    -webkit-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
    background: rgba(0, 0, 0, .6);
    content: "";
    position: absolute;
    z-index: 2000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden
}

.offcanvas-menu .site-wrap {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
    overflow: hidden
}

.offcanvas-menu .site-wrap:before {
    opacity: 1;
    visibility: visible
}

.btn {
    text-transform: uppercase;
    position: relative;
    -webkit-transition: .2s all ease-in-out!important;
    -o-transition: .2s all ease-in-out!important;
    transition: .2s all ease-in-out!important;
    top: 0;
    font-size: 12px;
    padding-top: 20px;
    padding-bottom: 20px
}

.btn:hover,
.btn:active,
.btn:focus {
    outline: none;
    -webkit-box-shadow: none!important;
    box-shadow: none!important
}

.btn.btn-primary {
    font-weight: 300;
    letter-spacing: .2em
}

.btn:hover {
    -webkit-box-shadow: 0 5px 20px -7px rgba(0, 0, 0, .9)!important;
    box-shadow: 0 5px 20px -7px rgba(0, 0, 0, .9)!important;
    top: -2px
}

.form-control {
    height: 43px
}

.form-control:active,
.form-control:focus {
    border-color: #3ca59d
}

.form-control:hover,
.form-control:active,
.form-control:focus {
    -webkit-box-shadow: none!important;
    box-shadow: none!important
}

.site-section {
    padding: 2.5em 0
}

@media (min-width:768px) {
    .site-section {
        padding: 5em 0
    }
}

.site-footer {
    padding: 4em 0;
    background: #333
}

.site-footer p {
    color: #737373
}

.site-footer h2,
.site-footer h3,
.site-footer h4,
.site-footer h5 {
    color: #fff
}

.site-footer h3 {
    font-size: 20px;
    margin-bottom: 30px
}

.site-footer a {
    color: #999
}

.site-footer a:hover {
    color: #fff
}

.site-footer ul li {
    margin-bottom: 10px
}

.text-white-opacity-05 {
    color: rgba(255, 255, 255, .5)
}

.text-black-opacity-05 {
    color: rgba(0, 0, 0, .5)
}

.site-navbar {
    margin-bottom: 0;
    z-index: 1999;
    position: relative
}

.site-navbar .site-logo a {
    color: #000
}

.site-navbar .site-navigation .site-menu {
    margin-bottom: 0
}

.site-navbar .site-navigation .site-menu .active>a {
    color: #3ca59d
}

.site-navbar .site-navigation .site-menu a {
    text-decoration: none!important;
    font-size: 15px;
    display: inline-block
}

.site-navbar .site-navigation .site-menu>li {
    display: inline-block;
    padding: 10px 5px
}

.site-navbar .site-navigation .site-menu>li>a {
    padding: 10px 10px;
    color: #000;
    font-size: 15px;
    text-decoration: none!important
}

.site-navbar .site-navigation .site-menu>li>a:hover {
    color: #3ca59d
}

.site-navbar .site-navigation .site-menu .has-children {
    position: relative
}

.site-navbar .site-navigation .site-menu .has-children>a {
    position: relative;
    padding-right: 20px
}

.site-navbar .site-navigation .site-menu .has-children>a:before {
    position: absolute;
    content: "\e313";
    font-size: 16px;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-family: 'icomoon'
}

.site-navbar .site-navigation .site-menu .has-children .dropdown {
    visibility: hidden;
    opacity: 0;
    top: 100%;
    position: absolute;
    text-align: left;
    -webkit-box-shadow: 0 5px 10px -3px rgba(0, 0, 0, .25);
    box-shadow: 0 5px 10px -3px rgba(0, 0, 0, .25);
    padding: 0 0;
    margin-top: 20px;
    margin-left: 0;
    background: #fff;
    -webkit-transition: .2s 0s;
    -o-transition: .2s 0s;
    transition: .2s 0s;
    -moz-transition: .2s 0s;
    -ms-transition: .2s 0s;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top {
    position: absolute;
    display: none;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top :before {
    bottom: 100%;
    left: 20%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none
}

.site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: #fff;
    border-width: 10px;
    margin-left: -10px
}

.site-navbar .site-navigation .site-menu .has-children .dropdown a {
    font-size: 16px;
    text-transform: none;
    letter-spacing: normal;
    -webkit-transition: 0s all;
    -o-transition: 0s all;
    transition: 0s all;
    color: #343a40
}

.site-navbar .site-navigation .site-menu .has-children .dropdown .active>a {
    color: #3ca59d!important
}

.site-navbar .site-navigation .site-menu .has-children .dropdown>li {
    list-style: none;
    padding: 0;
    margin: 0;
    min-width: 200px
}

.site-navbar .site-navigation .site-menu .has-children .dropdown>li>a {
    padding: 9px 20px;
    display: block
}

.site-navbar .site-navigation .site-menu .has-children .dropdown>li>a:hover {
    background: #f4f5f9;
    background: #3ca59d;
    color: #25262a;
    color: #fff
}

.site-navbar .site-navigation .site-menu .has-children .dropdown>li.has-children>a {
    position: relative;
    display: block
}

.site-navbar .site-navigation .site-menu .has-children .dropdown>li.has-children>a:before {
    position: absolute;
    content: "\e315";
    position: absolute;
    left: auto!important;
    right: 20px!important;
    top: 10px
}

.site-navbar .site-navigation .site-menu .has-children .dropdown>li.has-children>.dropdown,
.site-navbar .site-navigation .site-menu .has-children .dropdown>li.has-children>ul {
    left: 100%;
    top: 0
}

.site-navbar .site-navigation .site-menu .has-children .dropdown>li.has-children:hover>a,
.site-navbar .site-navigation .site-menu .has-children .dropdown>li.has-children:active>a,
.site-navbar .site-navigation .site-menu .has-children .dropdown>li.has-children:focus>a {
    background: #f4f5f9;
    background: #3ca59d;
    color: #25262a;
    color: #fff
}

.site-navbar .site-navigation .site-menu .has-children:hover>a,
.site-navbar .site-navigation .site-menu .has-children:focus>a,
.site-navbar .site-navigation .site-menu .has-children:active>a {
    color: #3ca59d
}

.site-navbar .site-navigation .site-menu .has-children:hover,
.site-navbar .site-navigation .site-menu .has-children:focus,
.site-navbar .site-navigation .site-menu .has-children:active {
    cursor: pointer
}

.site-navbar .site-navigation .site-menu .has-children:hover>.dropdown,
.site-navbar .site-navigation .site-menu .has-children:focus>.dropdown,
.site-navbar .site-navigation .site-menu .has-children:active>.dropdown {
    -webkit-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
    margin-top: 0;
    visibility: visible;
    opacity: 1
}

.site-mobile-menu {
    width: 300px;
    position: fixed;
    right: 0;
    z-index: 2000;
    padding-top: 20px;
    background: #fff;
    height: calc(100vh);
    -webkit-transform: translateX(110%);
    -ms-transform: translateX(110%);
    transform: translateX(110%);
    -webkit-box-shadow: -10px 0 20px -10px rgba(0, 0, 0, .1);
    box-shadow: -10px 0 20px -10px rgba(0, 0, 0, .1);
    -webkit-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out
}

.offcanvas-menu .site-mobile-menu {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%)
}

.site-mobile-menu .site-mobile-menu-header {
    width: 100%;
    float: left;
    padding-left: 20px;
    padding-right: 20px
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close {
    float: right;
    margin-top: 8px
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span {
    font-size: 30px;
    display: inline-block;
    padding-left: 10px;
    padding-right: 0;
    line-height: 1;
    cursor: pointer;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span:hover {
    color: #25262a
}

.site-mobile-menu .site-mobile-menu-body {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    position: relative;
    padding: 20px;
    height: calc(100vh - 52px);
    padding-bottom: 150px
}

.site-mobile-menu .site-nav-wrap {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative
}

.site-mobile-menu .site-nav-wrap a {
    padding: 10px 20px;
    display: block;
    position: relative;
    color: #212529
}

.site-mobile-menu .site-nav-wrap a:hover {
    color: #3ca59d
}

.site-mobile-menu .site-nav-wrap li {
    position: relative;
    display: block
}

.site-mobile-menu .site-nav-wrap li.active>a {
    color: #3ca59d
}

.site-mobile-menu .site-nav-wrap .arrow-collapse {
    position: absolute;
    right: 0;
    top: 10px;
    z-index: 20;
    width: 36px;
    height: 36px;
    text-align: center;
    cursor: pointer;
    border-radius: 50%
}

.site-mobile-menu .site-nav-wrap .arrow-collapse:hover {
    background: #f8f9fa
}

.site-mobile-menu .site-nav-wrap .arrow-collapse:before {
    font-size: 12px;
    z-index: 20;
    font-family: "icomoon";
    content: "\f078";
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(-180deg);
    -ms-transform: translate(-50%, -50%) rotate(-180deg);
    transform: translate(-50%, -50%) rotate(-180deg);
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease
}

.site-mobile-menu .site-nav-wrap .arrow-collapse.collapsed:before {
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.site-mobile-menu .site-nav-wrap>li {
    display: block;
    position: relative;
    float: left;
    width: 100%
}

.site-mobile-menu .site-nav-wrap>li>a {
    padding-left: 20px;
    font-size: 20px
}

.site-mobile-menu .site-nav-wrap>li>ul {
    padding: 0;
    margin: 0;
    list-style: none
}

.site-mobile-menu .site-nav-wrap>li>ul>li {
    display: block
}

.site-mobile-menu .site-nav-wrap>li>ul>li>a {
    padding-left: 40px;
    font-size: 16px
}

.site-mobile-menu .site-nav-wrap>li>ul>li>ul {
    padding: 0;
    margin: 0
}

.site-mobile-menu .site-nav-wrap>li>ul>li>ul>li {
    display: block
}

.site-mobile-menu .site-nav-wrap>li>ul>li>ul>li>a {
    font-size: 16px;
    padding-left: 60px
}

.site-blocks-cover {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-position: center center
}

.site-blocks-cover.overlay {
    position: relative
}

.site-blocks-cover.overlay:before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    background: rgba(0, 0, 0, .4)
}

.site-blocks-cover .player {
    position: absolute;
    bottom: -250px;
    width: 100%
}

.site-blocks-cover,
.site-blocks-cover .row {
    min-height: 600px;
    height: calc(100vh)
}

.site-blocks-cover.inner-page-cover,
.site-blocks-cover.inner-page-cover .row {
    min-height: 350px;
    height: calc(20vh)
}

.site-blocks-cover h2,
.site-blocks-cover h3,
.site-blocks-cover h4,
.site-blocks-cover h5 {
    color: #fff
}

.site-blocks-cover h1 {
    font-size: 30px;
    font-weight: 900;
    line-height: 1.5
}

@media (min-width:768px) {
    .site-blocks-cover h1 {
        font-size: 50px
    }
}

.site-blocks-cover p {
    color: #fff;
    font-size: 1.2rem;
    line-height: 1.5
}

.form-subscribe .btn {
    padding-top: 12px;
    padding-bottom: 12px
}

.site-block-subscribe .btn {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px!important
}

.site-block-subscribe .form-control {
    font-weight: 300;
    border-color: #fff!important;
    height: 80px;
    font-size: 22px;
    color: #fff;
    padding-left: 30px;
    padding-right: 30px
}

.site-block-subscribe .form-control::-webkit-input-placeholder {
    color: rgba(255, 255, 255, .5);
    font-weight: 200;
    font-style: italic
}

.site-block-subscribe .form-control::-moz-placeholder {
    color: rgba(255, 255, 255, .5);
    font-weight: 200;
    font-style: italic
}

.site-block-subscribe .form-control:-ms-input-placeholder {
    color: rgba(255, 255, 255, .5);
    font-weight: 200;
    font-style: italic
}

.site-block-subscribe .form-control:-moz-placeholder {
    color: rgba(255, 255, 255, .5);
    font-weight: 200;
    font-style: italic
}

.bg-light {
    background: #ccc
}

.team-member {
    position: relative;
    float: left;
    width: 100%;
    overflow: hidden
}

.team-member img {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1)
}

.team-member:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(60, 165, 157, .8);
    z-index: 2;
    height: 100%;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease
}

.team-member .text {
    top: 50%;
    text-align: center;
    position: absolute;
    padding: 20px;
    -webkit-transform: translateY(-30%);
    -ms-transform: translateY(-30%);
    transform: translateY(-30%);
    -webkit-transition: .5s all ease;
    -o-transition: .5s all ease;
    transition: .5s all ease;
    opacity: 0;
    visibility: hidden;
    color: #fff
}

.team-member:hover:before,
.team-member:focus:before,
.team-member:active:before {
    opacity: 1;
    visibility: visible
}

.team-member:hover img,
.team-member:focus img,
.team-member:active img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1)
}

.team-member:hover .text,
.team-member:focus .text,
.team-member:active .text {
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition-delay: .2s;
    -o-transition-delay: .2s;
    transition-delay: .2s;
    opacity: 1;
    visibility: visible;
    z-index: 4
}

.podcast-entry {
    -webkit-box-shadow: 0 5px 40px -10px rgba(0, 0, 0, .1);
    box-shadow: 0 5px 40px -10px rgba(0, 0, 0, .1);
    border-radius: 4px;
    overflow: hidden
}

.podcast-entry .sep {
    margin-left: 5px;
    margin-right: 5px;
    color: #ccc
}

.podcast-entry .image {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 300px
}

@media (min-width:768px) {
    .podcast-entry .image {
        width: 300px;
        height: auto
    }
}

.podcast-entry .text {
    width: 100%;
    padding: 40px
}

.podcast-entry .text a {
    color: #3ca59d
}

@media (min-width:768px) {
    .podcast-entry .text {
        width: calc(100% - 300px)
    }
}

.block-13,
.slide-one-item {
    position: relative;
    z-index: 1
}

.block-13 .owl-nav,
.slide-one-item .owl-nav {
    position: relative;
    position: absolute;
    bottom: -90px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%)
}

.block-13 .owl-nav .owl-prev,
.block-13 .owl-nav .owl-next,
.slide-one-item .owl-nav .owl-prev,
.slide-one-item .owl-nav .owl-next {
    position: relative;
    display: inline-block;
    padding: 20px;
    font-size: 30px;
    color: #000
}

.block-13 .owl-nav .owl-prev.disabled,
.block-13 .owl-nav .owl-next.disabled,
.slide-one-item .owl-nav .owl-prev.disabled,
.slide-one-item .owl-nav .owl-next.disabled {
    opacity: .2
}

.slide-one-item .owl-item>div {
    height: 300px
}

@media (min-width:768px) {
    .slide-one-item .owl-item>div {
        height: 800px
    }
}

#date-countdown .countdown-block {
    color: #b3b3b3
}

#date-countdown .label {
    font-size: 40px;
    color: #000
}

.player {
    position: relative
}

.player img {
    max-width: 100px;
    border-radius: 50%;
    margin-bottom: 20px
}

.player h2 {
    font-size: 20px;
    letter-spacing: .2em;
    text-transform: uppercase
}

.player .position {
    font-size: 14px;
    color: #b3b3b3;
    text-transform: uppercase
}

.site-block-27 ul,
.site-block-27 ul li {
    padding: 0;
    margin: 0
}

.site-block-27 ul li {
    display: inline-block;
    margin-bottom: 4px
}

.site-block-27 ul li a {
    color: #3ca59d
}

.site-block-27 ul li a,
.site-block-27 ul li span {
    text-align: center;
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    border: 1px solid #efefef
}

.site-block-27 ul li.active a,
.site-block-27 ul li.active span {
    background: #3ca59d;
    color: #fff;
    border: 1px solid transparent
}

.featured-user h3 {
    font-size: 14px;
    text-transform: uppercase
}

.featured-user ul li {
    margin-bottom: 20px
}

.featured-user ul li a {
    display: inline-block;
    color: rgba(0, 0, 0, .5)
}

.featured-user ul li a img {
    width: 50px;
    float: left;
    border-radius: 50%
}

.featured-user ul li a:hover {
    color: #000
}

.podcaster {
    line-height: 1
}

.podcaster .small {
    font-size: 12px;
    color: #ccc
}

.play-wrap {
    margin-top: -70px
}

@media (max-width:991.98px) {
    .hero h1 {
        font-size: 40px!important
    }
}

body[data-aos-duration="50"] [data-aos] {
    transition-duration: 50ms
}

[data-aos][data-aos][data-aos-delay="50"],
body[data-aos-delay="50"] [data-aos] {
    transition-delay: 0
}

[data-aos][data-aos][data-aos-delay="50"].aos-animate,
body[data-aos-delay="50"] [data-aos].aos-animate {
    transition-delay: 50ms
}

[data-aos][data-aos][data-aos-duration="100"],
body[data-aos-duration="100"] [data-aos] {
    transition-duration: .1s
}

[data-aos][data-aos][data-aos-delay="100"],
body[data-aos-delay="100"] [data-aos] {
    transition-delay: 0
}

[data-aos][data-aos][data-aos-delay="100"].aos-animate,
body[data-aos-delay="100"] [data-aos].aos-animate {
    transition-delay: .1s
}

[data-aos][data-aos][data-aos-duration="150"],
body[data-aos-duration="150"] [data-aos] {
    transition-duration: .15s
}

[data-aos][data-aos][data-aos-delay="150"],
body[data-aos-delay="150"] [data-aos] {
    transition-delay: 0
}

[data-aos][data-aos][data-aos-delay="150"].aos-animate,
body[data-aos-delay="150"] [data-aos].aos-animate {
    transition-delay: .15s
}

[data-aos][data-aos][data-aos-duration="200"],
body[data-aos-duration="200"] [data-aos] {
    transition-duration: .2s
}

[data-aos][data-aos][data-aos-delay="200"],
body[data-aos-delay="200"] [data-aos] {
    transition-delay: 0
}

[data-aos][data-aos][data-aos-delay="200"].aos-animate,
body[data-aos-delay="200"] [data-aos].aos-animate {
    transition-delay: .2s
}

[data-aos][data-aos][data-aos-duration="250"],
body[data-aos-duration="250"] [data-aos] {
    transition-duration: .25s
}

[data-aos][data-aos][data-aos-delay="250"],
body[data-aos-delay="250"] [data-aos] {
    transition-delay: 0
}

[data-aos][data-aos][data-aos-delay="250"].aos-animate,
body[data-aos-delay="250"] [data-aos].aos-animate {
    transition-delay: .25s
}

[data-aos][data-aos][data-aos-duration="300"],
body[data-aos-duration="300"] [data-aos] {
    transition-duration: .3s
}

[data-aos][data-aos][data-aos-delay="300"],
body[data-aos-delay="300"] [data-aos] {
    transition-delay: 0
}

[data-aos][data-aos][data-aos-delay="300"].aos-animate,
body[data-aos-delay="300"] [data-aos].aos-animate {
    transition-delay: .3s
}

[data-aos][data-aos][data-aos-duration="400"],
body[data-aos-duration="400"] [data-aos] {
    transition-duration: .4s
}

[data-aos][data-aos][data-aos-delay="400"],
body[data-aos-delay="400"] [data-aos] {
    transition-delay: 0
}

[data-aos][data-aos][data-aos-delay="400"].aos-animate,
body[data-aos-delay="400"] [data-aos].aos-animate {
    transition-delay: .4s
}

[data-aos][data-aos][data-aos-duration="500"],
body[data-aos-duration="500"] [data-aos] {
    transition-duration: .5s
}

[data-aos][data-aos][data-aos-delay="500"],
body[data-aos-delay="500"] [data-aos] {
    transition-delay: 0
}

[data-aos][data-aos][data-aos-delay="500"].aos-animate,
body[data-aos-delay="500"] [data-aos].aos-animate {
    transition-delay: .5s
}

[data-aos][data-aos][data-aos-duration="600"],
body[data-aos-duration="600"] [data-aos] {
    transition-duration: .6s
}

[data-aos][data-aos][data-aos-delay="600"],
body[data-aos-delay="600"] [data-aos] {
    transition-delay: 0
}

[data-aos][data-aos][data-aos-delay="600"].aos-animate,
body[data-aos-delay="600"] [data-aos].aos-animate {
    transition-delay: .6s
}

[data-aos][data-aos][data-aos-duration="700"],
body[data-aos-duration="700"] [data-aos] {
    transition-duration: .7s
}

[data-aos][data-aos][data-aos-delay="700"],
body[data-aos-delay="700"] [data-aos] {
    transition-delay: 0
}

[data-aos][data-aos][data-aos-delay="700"].aos-animate,
body[data-aos-delay="700"] [data-aos].aos-animate {
    transition-delay: .7s
}

[data-aos][data-aos][data-aos-duration="800"],
body[data-aos-duration="800"] [data-aos] {
    transition-duration: .8s
}

[data-aos][data-aos][data-aos-delay="800"],
body[data-aos-delay="800"] [data-aos] {
    transition-delay: 0
}

[data-aos][data-aos][data-aos-delay="800"].aos-animate,
body[data-aos-delay="800"] [data-aos].aos-animate {
    transition-delay: .8s
}

[data-aos][data-aos][data-aos-duration="850"],
body[data-aos-duration="850"] [data-aos] {
    transition-duration: .85s
}

[data-aos][data-aos][data-aos-delay="850"],
body[data-aos-delay="850"] [data-aos] {
    transition-delay: 0
}

[data-aos][data-aos][data-aos-delay="850"].aos-animate,
body[data-aos-delay="850"] [data-aos].aos-animate {
    transition-delay: .85s
}

[data-aos][data-aos][data-aos-duration="900"],
body[data-aos-duration="900"] [data-aos] {
    transition-duration: .9s
}

[data-aos][data-aos][data-aos-delay="900"],
body[data-aos-delay="900"] [data-aos] {
    transition-delay: 0
}

[data-aos][data-aos][data-aos-delay="900"].aos-animate,
body[data-aos-delay="900"] [data-aos].aos-animate {
    transition-delay: .9s
}

[data-aos][data-aos][data-aos-duration="1000"],
body[data-aos-duration="1000"] [data-aos] {
    transition-duration: 1s
}

[data-aos][data-aos][data-aos-delay="1000"],
body[data-aos-delay="1000"] [data-aos] {
    transition-delay: 0
}

[data-aos][data-aos][data-aos-delay="1000"].aos-animate,
body[data-aos-delay="1000"] [data-aos].aos-animate {
    transition-delay: 1s
}

[data-aos][data-aos][data-aos-duration="1100"],
body[data-aos-duration="1100"] [data-aos] {
    transition-duration: 1.1s
}

[data-aos][data-aos][data-aos-delay="1100"],
body[data-aos-delay="1100"] [data-aos] {
    transition-delay: 0
}

[data-aos][data-aos][data-aos-delay="1100"].aos-animate,
body[data-aos-delay="1100"] [data-aos].aos-animate {
    transition-delay: 1.1s
}

[data-aos][data-aos][data-aos-duration="1200"],
body[data-aos-duration="1200"] [data-aos] {
    transition-duration: 1.2s
}

[data-aos][data-aos][data-aos-delay="1200"],
body[data-aos-delay="1200"] [data-aos] {
    transition-delay: 0
}

[data-aos][data-aos][data-aos-delay="1200"].aos-animate,
body[data-aos-delay="1200"] [data-aos].aos-animate {
    transition-delay: 1.2s
}

[data-aos][data-aos][data-aos-duration="1500"],
body[data-aos-duration="1500"] [data-aos] {
    transition-duration: 1.5s
}

[data-aos][data-aos][data-aos-delay="1500"],
body[data-aos-delay="1500"] [data-aos] {
    transition-delay: 0
}

[data-aos][data-aos][data-aos-delay="1500"].aos-animate,
body[data-aos-delay="1500"] [data-aos].aos-animate {
    transition-delay: 1.5s
}

[data-aos][data-aos][data-aos-duration="2500"],
body[data-aos-duration="2500"] [data-aos] {
    transition-duration: 2.5s
}

[data-aos][data-aos][data-aos-delay="2500"],
body[data-aos-delay="2500"] [data-aos] {
    transition-delay: 0
}

[data-aos][data-aos][data-aos-delay="2500"].aos-animate,
body[data-aos-delay="2500"] [data-aos].aos-animate {
    transition-delay: 2.5s
}

[data-aos][data-aos][data-aos-easing="linear"],
body[data-aos-easing="linear"] [data-aos] {
    transition-timing-function: cubic-bezier(.25, .25, .75, .75)
}

[data-aos][data-aos][data-aos-easing="ease"],
body[data-aos-easing="ease"] [data-aos] {
    transition-timing-function: ease
}

[data-aos][data-aos][data-aos-easing="ease-in-out"],
body[data-aos-easing="ease-in-out"] [data-aos] {
    transition-timing-function: ease-in-out
}

[data-aos^="fade"][data-aos^="fade"] {
    opacity: 0;
    transition-property: opacity, transform
}

[data-aos^="fade"][data-aos^="fade"].aos-animate {
    opacity: 1;
    transform: translate(0)
}

[data-aos="fade-up"] {
    transform: translateY(100px)
}

[data-aos^="zoom"][data-aos^="zoom"] {
    opacity: 0;
    transition-property: opacity, transform
}

[data-aos^="zoom"][data-aos^="zoom"].aos-animate {
    opacity: 1;
    transform: translate(0) scale(1)
}

[data-aos^="slide"][data-aos^="slide"] {
    transition-property: transform
}

[data-aos^="slide"][data-aos^="slide"].aos-animate {
    transform: translate(0)
}

[data-aos^="flip"][data-aos^="flip"] {
    backface-visibility: hidden;
    transition-property: transform
}

body {
    line-height: 1.7;
    color: #4d4d4d;
    font-weight: 200;
    font-size: 1.1rem
}

::selection {
    background: #000;
    color: #fff
}

a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease
}

a:hover {
    text-decoration: none
}

.text-black {
    color: #000 !important
}

.site-wrap:before {
    -webkit-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
    background: rgba(0, 0, 0, .6);
    content: "";
    position: absolute;
    z-index: 2000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden
}

.offcanvas-menu .site-wrap {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
    overflow: hidden
}

.offcanvas-menu .site-wrap:before {
    opacity: 1;
    visibility: visible
}

.btn {
    text-transform: uppercase;
    position: relative;
    -webkit-transition: .2s all ease-in-out !important;
    -o-transition: .2s all ease-in-out !important;
    transition: .2s all ease-in-out !important;
    top: 0;
    font-size: 12px;
    padding-top: 20px;
    padding-bottom: 20px
}

.btn:hover,
.btn:active,
.btn:focus {
    outline: none;
    -webkit-box-shadow: none !important;
    box-shadow: none !important
}

.btn.btn-primary {
    font-weight: 300;
    letter-spacing: .2em
}

.btn:hover {
    -webkit-box-shadow: 0 5px 20px -7px rgba(0, 0, 0, .9) !important;
    box-shadow: 0 5px 20px -7px rgba(0, 0, 0, .9) !important;
    top: -2px
}

.form-control {
    height: 43px
}

.form-control:active,
.form-control:focus {
    border-color: #3ca59d
}

.form-control:hover,
.form-control:active,
.form-control:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important
}

.site-section {
    padding: 2.5em 0
}

@media (min-width:768px) {
    .site-section {
        padding: 5em 0
    }
}

.site-footer {
    padding: 4em 0;
    background: #333
}

.site-footer p {
    color: #737373
}

.site-footer h2,
.site-footer h3,
.site-footer h4,
.site-footer h5 {
    color: #fff
}

.site-footer h3 {
    font-size: 20px;
    margin-bottom: 30px
}

.site-footer a {
    color: #999
}

.site-footer a:hover {
    color: #fff
}

.site-footer ul li {
    margin-bottom: 10px
}

.text-white-opacity-05 {
    color: rgba(255, 255, 255, .5)
}

.text-black-opacity-05 {
    color: rgba(0, 0, 0, .5)
}

.site-navbar {
    margin-bottom: 0;
    z-index: 1999;
    position: relative
}

.site-navbar .site-logo a {
    color: #000
}

.site-navbar .site-navigation .site-menu {
    margin-bottom: 0
}

.site-navbar .site-navigation .site-menu .active>a {
    color: #3ca59d
}

.site-navbar .site-navigation .site-menu a {
    text-decoration: none !important;
    font-size: 15px;
    display: inline-block
}

.site-navbar .site-navigation .site-menu>li {
    display: inline-block;
    padding: 10px 5px
}

.site-navbar .site-navigation .site-menu>li>a {
    padding: 10px 10px;
    color: #000;
    font-size: 15px;
    text-decoration: none !important
}

.site-navbar .site-navigation .site-menu>li>a:hover {
    color: #3ca59d
}

.site-navbar .site-navigation .site-menu .has-children {
    position: relative
}

.site-navbar .site-navigation .site-menu .has-children>a {
    position: relative;
    padding-right: 20px
}

.site-navbar .site-navigation .site-menu .has-children>a:before {
    position: absolute;
    content: "\e313";
    font-size: 16px;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-family: 'icomoon'
}

.site-navbar .site-navigation .site-menu .has-children .dropdown {
    visibility: hidden;
    opacity: 0;
    top: 100%;
    position: absolute;
    text-align: left;
    -webkit-box-shadow: 0 5px 10px -3px rgba(0, 0, 0, .25);
    box-shadow: 0 5px 10px -3px rgba(0, 0, 0, .25);
    padding: 0 0;
    margin-top: 20px;
    margin-left: 0;
    background: #fff;
    -webkit-transition: .2s 0s;
    -o-transition: .2s 0s;
    transition: .2s 0s
}

.site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top {
    position: absolute;
    display: none;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top :before {
    bottom: 100%;
    left: 20%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none
}

.site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: #fff;
    border-width: 10px;
    margin-left: -10px
}

.site-navbar .site-navigation .site-menu .has-children .dropdown a {
    font-size: 16px;
    text-transform: none;
    letter-spacing: normal;
    -webkit-transition: 0s all;
    -o-transition: 0s all;
    transition: 0s all;
    color: #343a40
}

.site-navbar .site-navigation .site-menu .has-children .dropdown .active>a {
    color: #3ca59d !important
}

.site-navbar .site-navigation .site-menu .has-children .dropdown>li {
    list-style: none;
    padding: 0;
    margin: 0;
    min-width: 200px
}

.site-navbar .site-navigation .site-menu .has-children .dropdown>li>a {
    padding: 9px 20px;
    display: block
}

.site-navbar .site-navigation .site-menu .has-children .dropdown>li>a:hover {
    background: #f4f5f9;
    background: #3ca59d;
    color: #25262a;
    color: #fff
}

.site-navbar .site-navigation .site-menu .has-children .dropdown>li.has-children>a {
    position: relative;
    display: block
}

.site-navbar .site-navigation .site-menu .has-children .dropdown>li.has-children>a:before {
    position: absolute;
    content: "\e315";
    position: absolute;
    left: auto !important;
    right: 20px !important;
    top: 10px
}

.site-navbar .site-navigation .site-menu .has-children .dropdown>li.has-children>.dropdown,
.site-navbar .site-navigation .site-menu .has-children .dropdown>li.has-children>ul {
    left: 100%;
    top: 0
}

.site-navbar .site-navigation .site-menu .has-children .dropdown>li.has-children:hover>a,
.site-navbar .site-navigation .site-menu .has-children .dropdown>li.has-children:active>a,
.site-navbar .site-navigation .site-menu .has-children .dropdown>li.has-children:focus>a {
    background: #f4f5f9;
    background: #3ca59d;
    color: #25262a;
    color: #fff
}

.site-navbar .site-navigation .site-menu .has-children:hover>a,
.site-navbar .site-navigation .site-menu .has-children:focus>a,
.site-navbar .site-navigation .site-menu .has-children:active>a {
    color: #3ca59d
}

.site-navbar .site-navigation .site-menu .has-children:hover,
.site-navbar .site-navigation .site-menu .has-children:focus,
.site-navbar .site-navigation .site-menu .has-children:active {
    cursor: pointer
}

.site-navbar .site-navigation .site-menu .has-children:hover>.dropdown,
.site-navbar .site-navigation .site-menu .has-children:focus>.dropdown,
.site-navbar .site-navigation .site-menu .has-children:active>.dropdown {
    -webkit-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
    margin-top: 0;
    visibility: visible;
    opacity: 1
}

.site-mobile-menu {
    width: 300px;
    position: fixed;
    right: 0;
    z-index: 2000;
    padding-top: 20px;
    background: #fff;
    height: calc(100vh);
    -webkit-transform: translateX(110%);
    -ms-transform: translateX(110%);
    transform: translateX(110%);
    -webkit-box-shadow: -10px 0 20px -10px rgba(0, 0, 0, .1);
    box-shadow: -10px 0 20px -10px rgba(0, 0, 0, .1);
    -webkit-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out
}

.offcanvas-menu .site-mobile-menu {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%)
}

.site-mobile-menu .site-mobile-menu-header {
    width: 100%;
    float: left;
    padding-left: 20px;
    padding-right: 20px
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close {
    float: right;
    margin-top: 8px
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span {
    font-size: 30px;
    display: inline-block;
    padding-left: 10px;
    padding-right: 0;
    line-height: 1;
    cursor: pointer;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span:hover {
    color: #25262a
}

.site-mobile-menu .site-mobile-menu-body {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    position: relative;
    padding: 20px;
    height: calc(100vh - 52px);
    padding-bottom: 150px
}

.site-mobile-menu .site-nav-wrap {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative
}

.site-mobile-menu .site-nav-wrap a {
    padding: 10px 20px;
    display: block;
    position: relative;
    color: #212529
}

.site-mobile-menu .site-nav-wrap a:hover {
    color: #3ca59d
}

.site-mobile-menu .site-nav-wrap li {
    position: relative;
    display: block
}

.site-mobile-menu .site-nav-wrap li.active>a {
    color: #3ca59d
}

.site-mobile-menu .site-nav-wrap .arrow-collapse {
    position: absolute;
    right: 0;
    top: 10px;
    z-index: 20;
    width: 36px;
    height: 36px;
    text-align: center;
    cursor: pointer;
    border-radius: 50%
}

.site-mobile-menu .site-nav-wrap .arrow-collapse:hover {
    background: #f8f9fa
}

.site-mobile-menu .site-nav-wrap .arrow-collapse:before {
    font-size: 12px;
    z-index: 20;
    font-family: "icomoon";
    content: "\f078";
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(-180deg);
    -ms-transform: translate(-50%, -50%) rotate(-180deg);
    transform: translate(-50%, -50%) rotate(-180deg);
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease
}

.site-mobile-menu .site-nav-wrap .arrow-collapse.collapsed:before {
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.site-mobile-menu .site-nav-wrap>li {
    display: block;
    position: relative;
    float: left;
    width: 100%
}

.site-mobile-menu .site-nav-wrap>li>a {
    padding-left: 20px;
    font-size: 20px
}

.site-mobile-menu .site-nav-wrap>li>ul {
    padding: 0;
    margin: 0;
    list-style: none
}

.site-mobile-menu .site-nav-wrap>li>ul>li {
    display: block
}

.site-mobile-menu .site-nav-wrap>li>ul>li>a {
    padding-left: 40px;
    font-size: 16px
}

.site-mobile-menu .site-nav-wrap>li>ul>li>ul {
    padding: 0;
    margin: 0
}

.site-mobile-menu .site-nav-wrap>li>ul>li>ul>li {
    display: block
}

.site-mobile-menu .site-nav-wrap>li>ul>li>ul>li>a {
    font-size: 16px;
    padding-left: 60px
}

.site-blocks-cover {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-position: center center
}

.site-blocks-cover.overlay {
    position: relative
}

.site-blocks-cover.overlay:before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    background: rgba(0, 0, 0, .4)
}

.site-blocks-cover .player {
    position: absolute;
    bottom: -250px;
    width: 100%
}

.site-blocks-cover,
.site-blocks-cover .row {
    min-height: 600px;
    height: calc(100vh)
}

.site-blocks-cover.inner-page-cover,
.site-blocks-cover.inner-page-cover .row {
    min-height: 350px;
    height: calc(20vh)
}

.site-blocks-cover h2,
.site-blocks-cover h3,
.site-blocks-cover h4,
.site-blocks-cover h5 {
    color: #fff
}

.site-blocks-cover h1 {
    font-size: 30px;
    font-weight: 900;
    line-height: 1.5
}

@media (min-width:768px) {
    .site-blocks-cover h1 {
        font-size: 50px
    }
}

.site-blocks-cover p {
    color: #fff;
    font-size: 1.2rem;
    line-height: 1.5
}

.form-subscribe .btn {
    padding-top: 12px;
    padding-bottom: 12px
}

.site-block-subscribe .btn {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px !important
}

.site-block-subscribe .form-control {
    font-weight: 300;
    border-color: #fff !important;
    height: 80px;
    font-size: 22px;
    color: #fff;
    padding-left: 30px;
    padding-right: 30px
}

.site-block-subscribe .form-control::-webkit-input-placeholder {
    color: rgba(255, 255, 255, .5);
    font-weight: 200;
    font-style: italic
}

.site-block-subscribe .form-control::-moz-placeholder {
    color: rgba(255, 255, 255, .5);
    font-weight: 200;
    font-style: italic
}

.site-block-subscribe .form-control:-ms-input-placeholder {
    color: rgba(255, 255, 255, .5);
    font-weight: 200;
    font-style: italic
}

.site-block-subscribe .form-control:-moz-placeholder {
    color: rgba(255, 255, 255, .5);
    font-weight: 200;
    font-style: italic
}

.bg-light {
    background: #ccc
}

.team-member {
    position: relative;
    float: left;
    width: 100%;
    overflow: hidden
}

.team-member img {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1)
}

.team-member:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(60, 165, 157, .8);
    z-index: 2;
    height: 100%;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease
}

.team-member .text {
    top: 50%;
    text-align: center;
    position: absolute;
    padding: 20px;
    -webkit-transform: translateY(-30%);
    -ms-transform: translateY(-30%);
    transform: translateY(-30%);
    -webkit-transition: .5s all ease;
    -o-transition: .5s all ease;
    transition: .5s all ease;
    opacity: 0;
    visibility: hidden;
    color: #fff
}

.team-member:hover:before,
.team-member:focus:before,
.team-member:active:before {
    opacity: 1;
    visibility: visible
}

.team-member:hover img,
.team-member:focus img,
.team-member:active img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1)
}

.team-member:hover .text,
.team-member:focus .text,
.team-member:active .text {
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition-delay: .2s;
    -o-transition-delay: .2s;
    transition-delay: .2s;
    opacity: 1;
    visibility: visible;
    z-index: 4
}

.podcast-entry {
    -webkit-box-shadow: 0 5px 40px -10px rgba(0, 0, 0, .1);
    box-shadow: 0 5px 40px -10px rgba(0, 0, 0, .1);
    border-radius: 4px;
    overflow: hidden
}

.podcast-entry .sep {
    margin-left: 5px;
    margin-right: 5px;
    color: #ccc
}

.podcast-entry .image {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 300px
}

@media (min-width:768px) {
    .podcast-entry .image {
        width: 300px;
        height: auto
    }
}

.podcast-entry .text {
    width: 100%;
    padding: 40px
}

.podcast-entry .text a {
    color: #3ca59d
}

@media (min-width:768px) {
    .podcast-entry .text {
        width: calc(100% - 300px)
    }
}

.block-13,
.slide-one-item {
    position: relative;
    z-index: 1
}

.block-13 .owl-nav,
.slide-one-item .owl-nav {
    position: relative;
    position: absolute;
    bottom: -90px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%)
}

.block-13 .owl-nav .owl-prev,
.block-13 .owl-nav .owl-next,
.slide-one-item .owl-nav .owl-prev,
.slide-one-item .owl-nav .owl-next {
    position: relative;
    display: inline-block;
    padding: 20px;
    font-size: 30px;
    color: #000
}

.block-13 .owl-nav .owl-prev.disabled,
.block-13 .owl-nav .owl-next.disabled,
.slide-one-item .owl-nav .owl-prev.disabled,
.slide-one-item .owl-nav .owl-next.disabled {
    opacity: .2
}

.slide-one-item .owl-item>div {
    height: 300px
}

@media (min-width:768px) {
    .slide-one-item .owl-item>div {
        height: 800px
    }
}

#date-countdown .countdown-block {
    color: #b3b3b3
}

#date-countdown .label {
    font-size: 40px;
    color: #000
}

.player {
    position: relative
}

.player img {
    max-width: 100px;
    border-radius: 50%;
    margin-bottom: 20px
}

.player h2 {
    font-size: 20px;
    letter-spacing: .2em;
    text-transform: uppercase
}

.player .position {
    font-size: 14px;
    color: #b3b3b3;
    text-transform: uppercase
}

.site-block-27 ul,
.site-block-27 ul li {
    padding: 0;
    margin: 0
}

.site-block-27 ul li {
    display: inline-block;
    margin-bottom: 4px
}

.site-block-27 ul li a {
    color: #3ca59d
}

.site-block-27 ul li a,
.site-block-27 ul li span {
    text-align: center;
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    border: 1px solid #efefef
}

.site-block-27 ul li.active a,
.site-block-27 ul li.active span {
    background: #3ca59d;
    color: #fff;
    border: 1px solid transparent
}

.featured-user h3 {
    font-size: 14px;
    text-transform: uppercase
}

.featured-user ul li {
    margin-bottom: 20px
}

.featured-user ul li a {
    display: inline-block;
    color: rgba(0, 0, 0, .5)
}

.featured-user ul li a img {
    width: 50px;
    float: left;
    border-radius: 50%
}

.featured-user ul li a:hover {
    color: #000
}

.podcaster {
    line-height: 1
}

.podcaster .small {
    font-size: 12px;
    color: #ccc
}

.play-wrap {
    margin-top: -70px
}

@media (max-width:991.98px) {
    .hero h1 {
        font-size: 40px !important
    }
}